<!DOCTYPE html>
<html class="noIE" lang="en-US">
  <head>
    <title>Bucket</title>

    <!-- meta -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- scripts -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <!-- google fonts -->

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>

    <!-- css -->

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css" media="screen"/>
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/layout.css">
    <link rel="stylesheet" href="/styles/movies.css" type="text/css" />
    <link rel="stylesheet" href="/styles/songs.css" type="text/css" />
    <link rel="stylesheet" href="/styles/restaurants.css" type="text/css" />
    <link rel="stylesheet" href="/styles/updateBtns.css" type="text/css" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />


  </head>



  <body style="margin-bottom: 65px">

    <div id="wrapper">
      <div id="header" class="content-block header-wrapper">
        <div class="header-wrapper-inner">
          <section class="top clearfix">
            <div class="center">
              <a href="login"<i class="fa fa-bitbucket user-icon pull-left" href="/"></i></a>
              <a class="logo" href="/">Bucket</a>
              <a href="http://localhost:8080/login"<i class="fa fa-sign-in user-icon pull-right" href="/"></i></a>
            </div>
          </section>
          <section class="center">
            <div class="slogan" style="margin-bottom: 100px">
              Procrastinate Proactively
            </div>
          </section>
          <section class="bottom">
            <a id="scrollToContent" href="#">
              <img src="assets/images/arrow_down.png">
            </a>
          </section>
        </div>
      </div>

      <div class="content-block" id="portfolio">

        <div class="container addItem">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <form class="form-search" method="POST" action="/api/users">
              <h2 align="center" class="form-search-heading">Enter Your Query</h2>
              <label for="inputSearch" class="sr-only">Search</label>
              <input type="text" id="inputSearch" class="form-control inputItem" name="text" placeholder="Search a movie, song, or restaurant">
              <label for="inputComment" class="sr-only">Comment</label>
              <input type="text" id="inputComment" class="form-control inputComment" name="comment" placeholder="Add a comment">
              <button class="btn btn-lg btn-primary btn-block addItemBtn" type="submit" name="submit">Submit</button>
            </form>
          </div>
        </div>
        <br>

      <!-- <section class="userLists">
        <section class="movieList">
          <article class="movie">
            <header>
              <h2 class="title">The Toxic Avenger</h2>
              <h3 class="rating">6.2/10</h3>
              <p class="comment">- Dylan told me to watch this</p>
            </header>
            <div class="container">
              <img class="poster" src="http://ia.media-imdb.com/images/M/MV5BNzViNmQ5MTYtMmI4Yy00N2Y2LTg4NWUtYWU3MThkMTVjNjk3XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg">
              <div class="flex">
                <div class="genres">Genre: Action, Comedy, Horror</div>
                <div class="rated">Rated: R</div>
                <div class="director">Director: Michael Herz, Lloyd Kaufman</div>
                <div class="year">Year: 1984</div>
                <div class="runtime">Runtime: 82 min</div>
                <div class="plot">Plot:<br>This is the story of Melvin, the Tromaville Health Club mop boy, who inadvertently and naively trusts the hedonistic, contemptuous and vain health club members, to the point of accidentally ending up in a vat of toxic waste. The devastating results then have a transmogrification effect, his alter ego is released, and the Toxic Avenger is born, to deadly and comical results. The local mop boy is now the local Superhero, the saviour of corruption, thuggish bullies and indifference. Troma classic with good make-up effects and stunts, a pleasant surprise indeed.</div>
              </div>
              <footer>Item added on 2017/02/02</footer>
            </div>
            <div class="bottom"></div>
          </article>
        </section>
      </section>-->

        <div class="container userLists">
          <section class="block-body">
            <div class="container text-center">
              <div class="row">
                <div class="col-sm-12">
                  <div class="wrapper_bu" style="position:relative;">
                    <div class="image">
                      <a class="panel-heading accordion-toggle collapsed left" data-toggle="collapse"
                      data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapseTwo">
                        <div id="bu1">
                          <img alt="" src="/icons/Restaraunt.png" class="img-fluid imgtransform">
                          <div class="title" style="color: #4da7ca">Restaurants</div>
                        </div>
                      </a>
                    </div>
                    <div class="image">
                      <a class="panel-heading accordion-toggle collapsed left" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapseOne">
                        <div id="bu2">
                          <img alt="" src="/icons/video.png" class="img-fluid imgtransform">
                          <div class="title" style="color: #00cc7a">Films</div>
                        </div>
                      </a>
                    </div>
                    <div class="image">
                      <a class="panel-heading accordion-toggle collapsed left " data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapseThree">
                        <div id="bu3">
                          <img alt="" src="/icons/music.png" class="img-fluid imgtransform">
                          <div class="title" style="color: #ff4d4d">Songs</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="panel-group" id="accordion1">
                    <div class="panel panel-default">
                      <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body movieList" style="color: #6a6a6a ; background-color: #f1f0f0 ; margin: 0">
                          <div class="center-down-arrow">
                            <p style="color: #00cc7a">Your Added Films</p>
                          </div>
                          <div>
                            <img src="/icons/arrow.png">
                          </div>

                          <article class="movie">
                            <header>
                              <h2 class="title">The Shawshank Redemption</h2>
                              <h3 class="rating">9.3/10</h3>
                              <p class="comment">Jesus told me to watch this</p>
                            </header>
                            <div class="itemContainer">
                              <img class="poster" src="https://images-na.ssl-images-amazon.com/images/I/71vHet70KnL._SY445_.jpg">
                              <div class="flex">
                                <div class="genres">Genre: Crime, Drama</div>
                                <div class="rated">Rated: R</div>
                                <div class="director">Director: Frank Darabont</div>
                                <div class="year">Year: 1994</div>
                                <div class="runtime">Runtime: 142 min</div>
                                <div class="plot">Plot:<br>Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</div>
                              </div>
                              <footer>Item added on 2017/02/04</footer>
                            </div>
                            <div class="bottom"></div>
                            <div class="updateBtns">
                              <button class="toMovie"><i class="fa fa-film"></i></button>
                              <button class="toSong"><i class="fa fa-music"></i></button>
                              <button class="toRestaurant"><i class="fa fa-cutlery"></i></button>
                            </div>
                          </article>

                          <article class="movie">
                            <header>
                              <h2 class="title">Catch Me If You Can</h2>
                              <h3 class="rating">8.0/10</h3>
                              <p class="comment">Leo can have my babies</p>
                            </header>
                            <div class="itemContainer">
                              <img class="poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTY5MzYzNjc5NV5BMl5BanBnXkFtZTYwNTUyNTc2._V1_UX182_CR0,0,182,268_AL_.jpg">
                              <div class="flex">
                                <div class="genres">Genre: Biography, Crime, Drama</div>
                                <div class="rated">Rated: PG-13</div>
                                <div class="director">Director: Steven Spielberg</div>
                                <div class="year">Year: 2002</div>
                                <div class="runtime">Runtime: 141 min</div>
                                <div class="plot">Plot:<br>The true story of Frank Abagnale Jr. who, before his 19th birthday, successfully conned millions of dollars' worth of checks as a Pan Am pilot, doctor, and legal prosecutor.</div>
                              </div>
                              <footer>Item added on 2017/02/04</footer>
                            </div>
                            <div class="bottom"></div>
                            <div class="updateBtns">
                              <button class="toMovie"><i class="fa fa-film"></i></button>
                              <button class="toSong"><i class="fa fa-music"></i></button>
                              <button class="toRestaurant"><i class="fa fa-cutlery"></i></button>
                            </div>
                          </article>

                          <article class="movie">
                            <header>
                              <h2 class="title">Wild Things</h2>
                              <h3 class="rating">6.5/10</h3>
                              <p class="comment">Recommended by Dave</p>
                            </header>
                            <div class="itemContainer">
                              <img class="poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BODMyYTlkNWYtODAzMC00ZjFiLWE3YjctMGUyMzM1MDk3ZDFlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL_.jpg">
                              <div class="flex">
                                <div class="genres">Genre: Crime, Drama, Mystery</div>
                                <div class="rated">Rated: R</div>
                                <div class="director">Director: John McNaughton</div>
                                <div class="year">Year: 1998</div>
                                <div class="runtime">Runtime: 108 min</div>
                                <div class="plot">Plot:<br>A police detective uncovers a conspiracy behind a case involving a high-school guidance counselor when accusations of rape are made against him by two female students.</div>
                              </div>
                              <footer>Item added on 2017/02/03</footer>
                            </div>
                            <div class="bottom"></div>
                            <div class="updateBtns">
                              <button class="toMovie"><i class="fa fa-film"></i></button>
                              <button class="toSong"><i class="fa fa-music"></i></button>
                              <button class="toRestaurant"><i class="fa fa-cutlery"></i></button>
                            </div>
                          </article>

                          <article class="movie">
                            <header>
                              <h2 class="title">xXx</h2>
                              <h3 class="rating">5.8/10</h3>
                              <p class="comment">Watch during breakfast</p>
                            </header>
                            <div class="itemContainer">
                              <img class="poster" src="https://images-na.ssl-images-amazon.com/images/I/41ME3C0KBDL._SY445_.jpg">
                              <div class="flex">
                                <div class="genres">Genre: Action, Adventure, Thriller</div>
                                <div class="rated">Rated: PG-13</div>
                                <div class="director">Director: Rob Cohen</div>
                                <div class="year">Year: 2002</div>
                                <div class="runtime">Runtime: 124 min</div>
                                <div class="plot">Plot:<br>An extreme sports athlete, Xander Cage, is recruited by the government on a special mission.</div>
                              </div>
                              <footer>Item added on 2017/02/03</footer>
                            </div>
                            <div class="bottom"></div>
                            <div class="updateBtns">
                              <button class="toMovie"><i class="fa fa-film"></i></button>
                              <button class="toSong"><i class="fa fa-music"></i></button>
                              <button class="toRestaurant"><i class="fa fa-cutlery"></i></button>
                            </div>
                          </article>

                          <article class="movie">
                            <header>
                              <h2 class="title">The Toxic Avenger</h2>
                              <h3 class="rating">6.2/10</h3>
                              <p class="comment">Dylan told me to watch this</p>
                            </header>
                            <div class="itemContainer">
                              <img class="poster" src="http://ia.media-imdb.com/images/M/MV5BNzViNmQ5MTYtMmI4Yy00N2Y2LTg4NWUtYWU3MThkMTVjNjk3XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg">
                              <div class="flex">
                                <div class="genres">Genre: Action, Comedy, Horror</div>
                                <div class="rated">Rated: R</div>
                                <div class="director">Director: Michael Herz, Lloyd Kaufman</div>
                                <div class="year">Year: 1984</div>
                                <div class="runtime">Runtime: 82 min</div>
                                <div class="plot">Plot:<br>This is the story of Melvin, the Tromaville Health Club mop boy, who inadvertently and naively trusts the hedonistic, contemptuous and vain health club members, to the point of accidentally ending up in a vat of toxic waste...</div>
                              </div>
                              <footer>Item added on 2017/02/02</footer>
                            </div>
                            <div class="bottom"></div>
                            <div class="updateBtns">
                              <button class="toMovie"><i class="fa fa-film"></i></button>
                              <button class="toSong"><i class="fa fa-music"></i></button>
                              <button class="toRestaurant"><i class="fa fa-cutlery"></i></button>
                            </div>
                          </article>

                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body restaurantList" style="color: #6a6a6a ; background-color: #f1f0f0 ; margin: 0">
                          <div class="center-down-arrow">
                              <p style="color: #4da7ca">Your Added Restaurants</p>
                          </div>
                          <div>
                            <img src="/icons/arrow.png">
                          </div>

                          <article class="restaurant">
                            <header>
                              <h2 class="title">Wilbur Mexicana</h2>
                              <h3 class="rating">4/5</h3>
                              <p class="comment">Anthony went here last week and told me it was the best</p>
                            </header>
                            <div class="itemContainer">
                              <div class="flex">
                                <div class="cuisine">Cuisine: Mexican</div>
                                <div class="price">Price: $</div>
                              </div>
                              <footer>Item added on 2017/02/02</footer>
                            </div>
                            <div class="bottom"></div>
                            <div class="updateBtns">
                              <button class="toMovie"><i class="fa fa-film"></i></button>
                              <button class="toSong"><i class="fa fa-music"></i></button>
                              <button class="toRestaurant"><i class="fa fa-cutlery"></i></button>
                            </div>
                          </article>

                          <article class="restaurant">
                            <header>
                              <h2 class="title">Poutini's House of Poutine</h2>
                              <h3 class="rating">4/5</h3>
                              <p class="comment">I see people here all the time!</p>
                            </header>
                            <div class="itemContainer">
                              <div class="flex">
                                <div class="cuisine">Cuisine: Canadian</div>
                                <div class="price">Price: $</div>
                              </div>
                              <footer>Item added on 2017/02/02</footer>
                            </div>
                            <div class="bottom"></div>
                            <div class="updateBtns">
                              <button class="toMovie"><i class="fa fa-film"></i></button>
                              <button class="toSong"><i class="fa fa-music"></i></button>
                              <button class="toRestaurant"><i class="fa fa-cutlery"></i></button>
                            </div>
                          </article>

                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body songList" style="color: #6a6a6a ; background-color: #f1f0f0 ; margin: 0">
                          <div class="center-down-arrow">
                            <p style="color: #ff4d4d">Your Added Songs</p>
                          </div>
                          <div>
                            <img src="/icons/arrow.png">
                          </div>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.actual.min.js"></script>
    <script src="assets/js/jquery-2.1.3.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>

  </body>
</html>
