<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <title>ToDo App</title>

  <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://v4-alpha.getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/layout.css">

</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container">

    <div class="starter-template">
      <h3>To Do App</h3>
      <p class="lead">A Means To Enhance Procrastination Productivity</p>
    </div>
    <section class="addItem">
      <h4 align="center">Add a new item</h4>
      <form align="center" action="/" method="POST">
        <textarea id="newItem" name="text" placeholder="Type the item you would like to add"></textarea>
        <input type="submit" name="submit" value="Add">
      </section>

      <section class="userLists"></section>

    </div><!-- /.container -->

    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="wrapper_bu" style="position:relative;">
            <div class="image">
              <a class="panel-heading accordion-toggle collapsed left" data-toggle="collapse"
              data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapseTwo">
              <div id="bu1">
                <img alt="" src="/icons/Restaraunt.png" class="img-fluid imgtransform">
                <div class="title">Restaurants</div>
              </div>
            </a>
          </div>
          <div class="image">
            <a class="panel-heading accordion-toggle collapsed left" data-toggle="collapse"
            data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapseOne">
            <div id="bu2">
              <img alt="" src="/icons/video.png" class="img-fluid imgtransform">
              <div class="title">Films</div>
            </div>
          </a>
        </div>
        <div class="image">
          <a class="panel-heading accordion-toggle collapsed left " data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3"
          data-target="#collapseThree">
          <div id="bu3">
            <img alt="" src="/icons/cart.png" class="img-fluid imgtransform">
            <div class="title">Products</div>
          </div>
        </a>
      </div>
    </div>
    <div class="panel-group" id="accordion1">
      <div class="panel panel-default">
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="center-down-arrow">
              <img src="https://s6.postimg.org/50w2vzj01/slider_down_Arrow.png">
            </div>
            <div>
              <h1>Films</h1>
              <p>Test</p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="center-down-arrow">
              <img src="https://s6.postimg.org/50w2vzj01/slider_down_Arrow.png">
            </div>
            <div>
              <h1>Restaraunts</h1>
              <p>Test</p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="center-down-arrow">
              <img src="https://s6.postimg.org/50w2vzj01/slider_down_Arrow.png">
            </div>
            <div>
              <h1>Products</h1>
              <p>Test</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
