<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart To-Do List</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/movies.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <nav id="nav-bar">
      Smart To-Do
      <button>Register</button>
      <button>Log In</button>
    </nav>

    <h1>Welcome</h1>

    <section class="addItem">
      <h2>Add a new item</h2>
      <form method="POST" action="/api/users">
        <textarea id="newItem" name="text" placeholder="type the item you want to add"></textarea>
        <input type="submit" name="submit" value="Add">
      </form>
    </section>

    <section class="userLists">

      <article class="movies">
        <header>
          <h2 class="title">The Toxic Avenger</h2>
          <h3 class="rating">6.2/10</h3>
          <p class="comment">- Dylan told me to watch this</p>
        </header>
        <div class="container">
          <img class="poster" src="http://ia.media-imdb.com/images/M/MV5BNzViNmQ5MTYtMmI4Yy00N2Y2LTg4NWUtYWU3MThkMTVjNjk3XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg">
          <div class="flex">
            <div class="genres">Genre: Action, Comedy, Horror</div>
            <div class="rated">Rated: R</div>
            <div class="director">Director: Michael Herz, Lloyd Kaufman</div>
            <div class="year">Year: 1984</div>
            <div class="runtime">Runtime: 82 min</div>
            <div class="plot">Plot:<br>This is the story of Melvin, the Tromaville Health Club mop boy, who inadvertently and naively trusts the hedonistic, contemptuous and vain health club members, to the point of accidentally ending up in a vat of toxic waste. The devastating results then have a transmogrification effect, his alter ego is released, and the Toxic Avenger is born, to deadly and comical results. The local mop boy is now the local Superhero, the saviour of corruption, thuggish bullies and indifference. Troma classic with good make-up effects and stunts, a pleasant surprise indeed.</div>
          </div>
          <footer>Item added on 2017/02/02</footer>
        </div>
        <div class="bottom"></div>
      </article>

      <article class="movies">
        <header>
          <h2 class="title">The Toxic Avenger</h2>
          <h3 class="rating">6.2/10</h3>
          <p class="comment">- Dylan told me to watch this</p>
        </header>
        <div class="bottom"></div>
      </article>

    </section>



  </body>
</html>
